body {
    background-color: rgb(255, 247, 236);
        margin: 0;
        padding: 0; 
}

.hero-container {
    height:100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.hero-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(27, 21, 16, 0.452), rgba(0, 0, 0, 0.062)), url(fox-print.png);
    background-size: cover;
    filter: blur(4px);
    transform: scale(1.1);
    z-index: 0;  
}

.textSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 600px;
    height: 300px;
    background: rgba(255, 243, 225, 0.774);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 rgba(95, 64, 28, 0.37);
    border-radius: 20px;

    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: absolute;
}

.textSection p {
    margin: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.introP {
    animation-name: reveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;  
    animation-timing-function: ease;  
    animation-delay: 0.8s;
    color: whitesmoke;
}
