body {
    background-color: rgb(255, 247, 236);
        margin: 0;
        padding: 0; 
}

.hero-container {
    height:100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    overflow: hidden;
    z-index: 0;
    position: relative;

    transform: scale(1.1);
    z-index: 0;
}

.hero-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(27, 21, 16, 0.452), rgba(0, 0, 0, 0.062)), url(fox-print.png);
    background-size: cover;
    filter: blur(0.8px);
    transform: scale(1.1);
    z-index: 0;  

    animation: bgBlur 1s ease-in-out forwards;
    animation-delay: 0.5s;
} 

.hero-container::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(27, 21, 16, 0.452), rgba(0, 0, 0, 0.062));
    opacity: 0;

    animation: bgFade 1.5s ease forwards;
    animation-delay: 0.5s;
}

.hero-container p {
    margin: 0;
    opacity: 0;
}

.welcomeP {
    width: 100%;
    font-size: 8rem;
    z-index: 10;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    text-align: center;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-weight: 800;

    animation: h1reveal 3s ease forwards;
    animation-delay: 1s;
}

.textSection {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 500px;
    height: 300px;
    background: rgba(255, 243, 225, 0.774);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 32px 0 rgba(95, 64, 28, 0.37);
    border-radius: 20px;

    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;

    top: 50%;
    left: 50%;
    z-index: 10;
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.85);

    animation: reveal 1s ease-out forwards;
    animation-delay: 3.8s;
}

.textSection p {
    padding-top: 15%;
    padding-bottom: 5%;
    margin: 0 auto;

    width: 350px;
}

.nextBtn {
    border-radius: 30%;
    background-color: #ffffffb9;
    border: 2px solid #fff;
    padding: 8px 10px;
    color: rgba(149, 123, 89, 0.541);
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;

    margin: 0 auto;
    opacity: 0;
    left: 48%;
    top: 65%;
    position: absolute;
    visibility: hidden;

    animation: preveal 1s ease forwards;
    animation-delay: 6s;
}

.nextBtn:hover {
    background-color: #fff;
    color: rgba(149, 123, 89, 0.541);
    box-shadow: 1px 1px 5px rgba(149, 123, 89, 0.411);
    border: 2px solid transparent;
}

#messageText {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.inputReward {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease, transform 0.4s ease;  
}

.userInput {
    border: 2px solid rgba(124, 102, 74, 0.548);
    color: rgba(124, 102, 74, 0.747);

    background-color: #ffffffb9;

    padding: 9px;
    border-radius: 10px;
    width: 200px;
    padding-left: 15px;
}

.userInput:focus-within {
    outline: none;
}


.inputReward > button {
    border-radius: 20px;
    background-color: #ffffffb9;
    border: 2px solid #fff;
    color: rgba(149, 123, 89, 0.541);

    padding: 7px 8px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}


.inputReward > button:hover {
    background-color: #fff;
    color: rgba(149, 123, 89, 0.541);
    box-shadow: 1px 1px 5px rgba(149, 123, 89, 0.411);
    border: 2px solid transparent;
}

 .start {
    text-decoration: none;
    color: rgba(149, 123, 89, 0.651);
}




/* ANIMATIONS */

@keyframes reveal{
    0%{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.85);
    }
    100%{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes bgBlur {
    0% {
    filter: blur(0.8px)
    }
    100% {
    filter: blur(5px);
    }
}

@keyframes bgFade {
    to {
        opacity: 1;
    }
}

@keyframes h1reveal {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes preveal {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
